.navbar-fixed-top{
  background-color: #00b7f1;
}
.nav li a{
  color: #f1f3f6;
}

.main_container{
  background-color: #FEFFFF;
  margin-top: 7%;
  padding-bottom: 2%;
}
.services_text_style{
  color: #FEBC00;
}
.container_text{
  color: #707A80
}

a:hover{
  background-color: transparent !important;
  color: #323e48 !important;
}

.main_logo{
  margin-top: .5vh;
}


.middle_container{
  padding-top: 3%;
  background-color: #F0F4F7;
  padding-bottom: 2%;
}
.service_title_text{
  color: #00b7f1;
}
.button_style{
  width: 12%;
  color: #fff;
  background-color: #febe10;
}

.learn_button_location{
  padding-top: 3%;
}
.service_space{
  margin-top: 5%;
}
