.navbar-fixed-top{
  background-color: #00b7f1;
}
.nav li a{
  color: #f1f3f6;
}

.main_container{
  background-color: #FEFFFF;
  margin-top: 7%;
  padding-bottom: 2%;
}

a:hover{
  background-color: transparent !important;
  color: #323e48 !important;
}

.main_logo{
  margin-top: .5vh;
}


.middle_container{
  padding-top: 3%;
  background-color: #F0F4F7;
}
